html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.app {
  width: 75%;
  margin: 40px 56px; /* 40 + ((32 * 1.5) - 32) */
  font-family: serif;
  font-size: 32px;
  line-height: 1.5;
}
  .app > span {
    color: gray;
  }

@media screen and (max-width: 640px) {
  .app {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 32px; /* 20 + ((24 * 1.5) - 24) */
  }
}

@media screen and (max-width: 480px) {
  .app {
    font-size: 20px;
    line-height: 1.33;
    margin: 10px 16.6px; /* 10 + ((20 * 1.33) - 20) */
  }
}
